{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'uploadfile_app/main.css' %}">
    <title>Forms</title>
</head>
<body>
    <div class="container">
        <div class="card">
          <h3>Upload Files</h3>
          <form method="POST" enctype="multipart/form-data" class="drop_box">
            {% csrf_token %}
            <header>
              <h4>Select File here</h4>
            </header>
            <p>Files Supported: PDF, TEXT, DOC , DOCX</p>
            {{ file }}
            <button class="btn">Upload</button>
          </form>
        </div>
      </div>
</body>
</html>